<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Comment list</h1>
  <% comments.forEach(function(comment){%>
  <div>
    <b><%= comment.comment %></b>
    <span style="color: #ccc"><%= comment.create_at %></span>
  </div>
  <% })  %>
</body>
</html>
